# Configuración General
PORT=3000
NODE_ENV=development

# Supabase
SUPABASE_URL=tu_supabase_url
SUPABASE_KEY=tu_supabase_key

# API Keys
API_KEY_SERVICE=tu_api_key
API_KEY_QR=tu_api_key_qr
API_KEY_NOTIFICACIONES=tu_api_key_notif
API_KEY_PAGOS=tu_api_key_pagos

# Configuración de Colas
TIEMPO_ATENCION_BASE=2.5
CAPACIDAD_MAXIMA_POR_DEFECTO=30