# ms-pedidos - variables de entorno
SUPABASE_URL=http://host.docker.internal:54321
SUPABASE_SERVICE_KEY=pon-aqui-la-service-role-key-local
SUPABASE_ANON_KEY=pon-aqui-la-anon-key-local
SUPABASE_PUBLISHABLE_KEY=pon-aqui-la-anon-key-local
PORT=3005
NODE_ENV=development
